@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Poppins-Extra-Bold";
    src: url(../fonts/Poppins-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: "Poppins-Light";
    src: url(../fonts/Poppins-Light.ttf) format('truetype');
}

$pop-extra-blog: 'Poppins-Extra-Bold';
$pop-bold: 'Poppins-Bold';
$pop-reg: 'Poppins-Regular';
$pop-light: 'Poppins-Light';

//------ COLOR VARIABLE ------//
$primary-color: #116d38;


#home-page {
    .accent-1 {
        position: absolute;
        height: 600px;
        right: -310px;
        top: 100px;
        opacity: 0.1;
    }

    .title-header {
        font-size: 52px;
        font-family: $pop-bold;
        line-height: 70px;
        color: $primary-color;
        width: 80%;
    }

    .gallery-header {
        width: 100%;
        display: flex;
        position: relative;
        justify-content: space-between;
        margin-top: 25px;

        .image-wrapper {
            width: calc(20% - 10px);
            padding-right: 10px;
            position: relative;
            justify-content: center;
            display: flex;
            flex-direction: column;

            .image {
                position: relative;
                width: 100%;
                overflow: hidden;
                border-radius: 16px;

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: all .32s;
                    object-fit: cover;
                    vertical-align: middle;

                    &:hover {
                        transform: scale(1.2);
                    }
                }

                &.img-1 {
                    height: 280px;
                }

                &.img-2 {
                    height: 150px;
                }

                &.img-3 {
                    margin-top: 20px;
                    height: 300px;
                }

                &.img-4 {
                    height: 470px;
                }

                &.img-5 {
                    height: 300px;
                }

                &.img-6 {
                    margin-top: 20px;
                    height: 150px;
                }

                &.img-7 {
                    height: 280px;
                }
            }
        }
    }
}

#footer {
    .logo-footer {
        height: 100px;
    }
}