@font-face {
  font-family: "Poppins-Regular";
  src: url(../fonts/Poppins-Regular.ttf) format("truetype"); }
@font-face {
  font-family: "Poppins-Bold";
  src: url(../fonts/Poppins-Bold.ttf) format("truetype"); }
@font-face {
  font-family: "Poppins-Extra-Bold";
  src: url(../fonts/Poppins-ExtraBold.ttf) format("truetype"); }
@font-face {
  font-family: "Poppins-Light";
  src: url(../fonts/Poppins-Light.ttf) format("truetype"); }
.title-page {
  width: 100%;
  position: relative;
  margin-bottom: 50px; }
  .title-page .title {
    font-size: 42px;
    font-family: "Poppins-Bold";
    color: #000;
    position: relative;
    text-align: center; }
  .title-page .subtitle {
    font-size: 16px;
    font-family: "Poppins-Light";
    color: #000;
    text-align: center; }

.section-title {
  width: 100%;
  position: relative;
  margin-bottom: 50px; }
  .section-title .title {
    font-size: 32px;
    font-family: "Poppins-Bold";
    color: #000;
    position: relative;
    text-align: center; }
  .section-title .subtitle {
    font-size: 16px;
    font-family: "Poppins-Light";
    color: #000;
    text-align: center; }

#home-page .accent-1 {
  position: absolute;
  height: 600px;
  right: -310px;
  top: 100px;
  opacity: 0.1; }
#home-page .title-header {
  font-size: 52px;
  font-family: "Poppins-Bold";
  line-height: 70px;
  color: #116d38;
  width: 80%; }
#home-page .gallery-header {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 25px; }
  #home-page .gallery-header .image-wrapper {
    width: calc(20% - 10px);
    padding-right: 10px;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column; }
    #home-page .gallery-header .image-wrapper .image {
      position: relative;
      width: 100%;
      overflow: hidden;
      border-radius: 16px; }
      #home-page .gallery-header .image-wrapper .image img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .32s;
        object-fit: cover;
        vertical-align: middle; }
        #home-page .gallery-header .image-wrapper .image img:hover {
          transform: scale(1.2); }
      #home-page .gallery-header .image-wrapper .image.img-1 {
        height: 280px; }
      #home-page .gallery-header .image-wrapper .image.img-2 {
        height: 150px; }
      #home-page .gallery-header .image-wrapper .image.img-3 {
        margin-top: 20px;
        height: 300px; }
      #home-page .gallery-header .image-wrapper .image.img-4 {
        height: 470px; }
      #home-page .gallery-header .image-wrapper .image.img-5 {
        height: 300px; }
      #home-page .gallery-header .image-wrapper .image.img-6 {
        margin-top: 20px;
        height: 150px; }
      #home-page .gallery-header .image-wrapper .image.img-7 {
        height: 280px; }

#main-wrapper {
  margin-top: 150px; }

#news-page .tab {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #fff;
  color: #000;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  font-family: "Poppins-Regular";
  cursor: pointer; }
  #news-page .tab.active {
    background-color: #116d38;
    color: #fff;
    box-shadow: none; }
#news-page .news-content {
  margin-top: 50px; }

#catalog-page .filter-tab {
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 18px;
  font-family: "Poppins-Regular"; }
  #catalog-page .filter-tab.active {
    color: #fff;
    background-color: #116d38; }
#catalog-page .catalog-wp {
  padding: 12px; }
  #catalog-page .catalog-wp .img-wp {
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    cursor: pointer; }
    #catalog-page .catalog-wp .img-wp .description {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      z-index: 3;
      transition: all ease-in-out 0.3s;
      padding: 20px;
      color: #fff;
      font-size: 14px;
      font-family: "Poppins-Light"; }
      #catalog-page .catalog-wp .img-wp .description .title {
        margin-bottom: 8px;
        font-family: "Poppins-Bold";
        font-size: 18px; }
    #catalog-page .catalog-wp .img-wp::after {
      content: "";
      inset: 0;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      z-index: 2;
      transition: 0.5s;
      visibility: hidden;
      opacity: 0; }
    #catalog-page .catalog-wp .img-wp:hover::after {
      opacity: 1;
      visibility: visible; }
    #catalog-page .catalog-wp .img-wp:hover .description {
      opacity: 1;
      visibility: visible;
      top: 0; }
  #catalog-page .catalog-wp .catalog-content {
    padding: 12px 8px; }
    #catalog-page .catalog-wp .catalog-content .title-catalog {
      font-family: "Poppins-Bold";
      font-size: 20px; }
    #catalog-page .catalog-wp .catalog-content .price {
      font-family: "Poppins-Light";
      font-size: 16px; }
    #catalog-page .catalog-wp .catalog-content .link-wp {
      display: flex;
      justify-content: flex-end; }
      #catalog-page .catalog-wp .catalog-content .link-wp .gallery-catalog {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #116d38;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        transition: all .32s; }
        #catalog-page .catalog-wp .catalog-content .link-wp .gallery-catalog a i {
          color: #fff; }
        #catalog-page .catalog-wp .catalog-content .link-wp .gallery-catalog:hover {
          background-color: #0e572d; }
      #catalog-page .catalog-wp .catalog-content .link-wp .detail-link {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #116d38;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        margin-left: 8px;
        transition: all .32s; }
        #catalog-page .catalog-wp .catalog-content .link-wp .detail-link a i {
          color: #fff; }
        #catalog-page .catalog-wp .catalog-content .link-wp .detail-link:hover {
          background-color: #0e572d; }

#footer .logo-footer {
  height: 100px; }

/*# sourceMappingURL=main-v2.css.map */
